<footer>
  <section class="facebook-embed" >
    <div class="inner">
      <header>
	<div>
	<h2 class="underlined">Follow me on Facebook</h2>
	<div class="content">See what I have to say and keep up on my campaign.</div>
	</div>
      </header>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJeffAdamsforLebanonSelectman%2F&tabs=timeline&width=320&height=350&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2050855118486328" width="320" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </section>
  <div class="controls">
    <span data-netlify-identity-button=true></span>
    <a href="/admin/">Admin UI</a>
  </div>
  <div class="credit">
    <span>Website by Roger Parent 2018</span>
  </div>
</footer>
