$main-bg-color: #242943;
$main-text-color: #EFEFEF;

$gray: #AAAAAA;

$header-bg-color: #2a2f4a;
$header-text-color: #FFFFFF;

$link-hover: #9bf1ff;

$bp-small: 480px;
$bp-med: 640px;
$bp-large: 840px;
$bp-xl: 1000px;

