backend:
  name: git-gateway
  branch: master

media_folder: "src/images/uploads"
public_folder: "/images/uploads"

publish_mode: editorial_workflow

collections:
  - name: "config"
    label: "Configuration"
    files:
      - label: "Site config"
        name: "site"
        file: "site/data/site.yml"
        description: >-
          Configuration used across the entire website.
        fields:
          - label: Title
            description: >-
              The text shown on the browser tab and the top of the window.
            name: title
            widget: string
          - label: Logo text
            name: logo
            widget: markdown
          - label: Navigation menu
            description: >-
              The list of links shown at the top of the site.
            label_singular: entries
            name: nav
            widget: list
            fields:
              - label: Label
                name: label
                widget: string
              - label: URL
                name: url
                widget: string

  - name: pages
    label: Pages
    label_singular: Page
    folder: "site/content"
    filter: { field: layout, value: single }
    create: true
    fields:
      - label: Title
        name: title
        description: >-
          The text shown on the browser tab and the top of the window.
        widget: string
      - label: Image
        name: image
        widget: image
        required: false
      - label: Body
        name: body
        widget: markdown
      - label: Layout
        name: layout
        default: single
        widget: hidden
  
  - name: "special-pages"
    label: "Special Pages"
    files:
      - label: "Home Page"
        name: "home"
        file: "site/content/_index.md"
        fields:
          - label: Title
            name: title
            description: >-
              Shown on the browser tab and the top of the window.
            widget: string
          - label: Banner
            name: banner
            widget: object
            fields:
              - label: Heading
                name: heading
                widget: string
              - label: Image
                name: image
                widget: image
              - label: Content
                name: content
                widget: text
      
      - label: "Gallery"
        name: "gallery"
        file: "site/content/photos.md"
        fields:
          - label: Title
            name: title
            widget: string
          - label: Layout
            name: layout
            widget: hidden
            default: "gallery"
          - label: Pictures
            name: gallery
            widget: list
            fields:
              - label: Image
                name: image
                widget: image
              - label: Description
                name: description
                widget: string
          - label: Body
            name: body
            widget: markdown

  - name: events
    label: Events
    folder: "site/content/events"
    fields:
      - label: Title
        name: title
        widget: string
      - label: Start date
        name: start
        widget: date
      - label: Location
        name: location
        widget: string
        required: false
      - label: Time
        name: duration
        widget: string
        required: false
      - label: Excerpt
        name: excerpt
        widget: text
        required: false
      - label: Body
        name: body
        widget: markdown
