{{ define "main" }}
{{ range .CurrentSection.Pages.ByParam "start" }}
{{ if now.Before (time .Params.start) }}
{{ $.Scratch.Add "futureEvents" (slice .) }}
{{ end }}
{{ end }}
<section>
    <div class="inner">
	<div class="contained">
	    <header class="major with-underline">
		<h1>{{ or .Params.header .Params.title }}</h1>
	    </header>
	    <div>
		{{ .Content }}
	    </div>
	    {{ template "_internal/pagination.html" }}
	    <div class="events post-list">
		{{ range ($.Scratch.Get "futureEvents") }}
		<div>
                    <a href="{{.URL}}">
                        <div class="info">
		            <h2 class="title">
			        {{ .Title }}
		            </h2>
                            {{ if .Params.start }}
		            <time datetime="{{dateFormat "2006-01-02" .Params.start }}">
			        {{ dateFormat "Monday, Jan 2" .Params.start }}{{ with .Params.duration }}, 
                                {{ . }}
                                {{ end }}
		            </time>
                            {{ end }}
                            {{ if .Params.location }}
                            <div class="location">{{.Params.location}}</div>
                            {{ end }}
		            {{ if isset .Params "excerpt" }}
                        </div>
                    </a>
		    <div class="summary">
			{{ .Params.excerpt }}
		    </div>
		    {{ end }}
		</div>
		{{ else }}
		<div class="no-items">
		    <p>There aren't any upcoming events right now.</p>
		    <p>This page will keep updating, so check back later!</p>
		</div>
		{{ end }}
	    </div>
	</div>
    </div>
</section>
{{ end }}
{{ define "scripts" }}
{{- partial "scripts.html" . -}}
{{ end }}
