@import "imports/variables.css";
@import "imports/normalize.css";
@import "imports/gallery.css";

%spaced-letters {
    letter-spacing: 0.25em;
    font-weight: 600;
}

.contained {
    width: 800px;
    box-sizing: border-box;
    max-width: 100%;
    margin: auto;
}

strong {
    font-weight: bold;
}

html, body {
    min-height: 100%;
}

section {
    padding: 1em;
}

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: $main-text-color;
    background: $main-bg-color;
    min-width: 320px;
    font-size: 16px;
    font-weight: 300;

    display: flex;
    flex-flow: column nowrap;

    &>header, &>footer {
        background-color: $header-bg-color;
    }

    &>header {
        @extend %spaced-letters;
        
        text-transform: uppercase;
        padding: 0.5em;
        text-align: center;
        font-weight: 600;

	@media screen and (min-width: $bp-med) {
	    padding: 0.5em 1.5em;
	    display: flex;
	    flex-flow: row nowrap;
	    nav {
	    }
	}
    }

    &>footer {
        font-weight: 300;
        text-align: center;
        font-size: 0.9em;
    }

    &>main {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
    }
}

.logo {
    font-size: 1.2em;
    line-height: normal;
    vertical-align: baseline;
    display: inline-block;
    text-decoration: none;
    p {
        margin: 0.1em;
    }
    & strong {
        display: inline-block;
        font-weight: inherit;
        background-color: $header-text-color;
        color: $header-bg-color;
        display: inline-block;
        padding: .1em .4em;
        transition: background-color 0.2s ease-in-out;
    }
    &:hover strong {
        background-color: $link-hover;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
    transition: color 0.2s ease-in-out;
    &:hover {
        color: $link-hover;
    }
}

.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    flex: 1;
    
    &:after {
        background-color: $main-bg-color;
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        opacity: .85;
    }

    padding: 6rem 1rem 4rem 1rem;
    & h2 {
        font-size: 2em;
    }
    & p {
        font-size: normal;
    }

    @media screen and (min-width: $bp-large) {
    }
    @media screen and (min-width: $bp-med) {
        padding: 10rem 1rem 8rem 1rem;
        .inner {
            max-width: 65em;
            width: 80%;
        }
    }
}

.inner {
    position: relative;
    z-index: 3;
    margin: auto;

    @media screen and (min-width: $bp-large) {
        font-size: 1.2rem;
    }
}

.content {
    font-weight: 300;
}

a, a * {
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

a.button {
    @extend %spaced-letters;
    
    text-transform: uppercase;
    display: inline-block;
    width: auto;
    border: 2px solid white;
    padding: 0.5em 1em;
    margin: 1em 0.5em;

    &:hover {
        border-color: $link-hover;
        color: $link-hover;
    }

    &::after {
	$arrow-size: 4px;
	content: " ";
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(-45deg);
	padding: 3px;
	margin: 1px 1px 1px 4px;
	display: inline-block;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    &:hover::after {
	border-color: $link-hover;
    }
}

.facebook-embed {
    text-align: center;
    max-width: 840px;
    margin: auto;
    padding: 0;
    header {
	margin-bottom: 1em;
	padding: 0.5em;
    }
    .inner {
	max-width: 700px;
    }
    @media screen and (min-width: $bp-med) {
	max-width: 800px;
	padding: 0 1em;
        header {
            flex: 1;
        }
	.inner {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
	    justify-content: center;
	    align-items: center;
            .content {
		margin: 0 0.5em;
            }
	}
    }
}

.inner {
    margin: 1em auto;
}

header {
    &.with-underline {
        h1, h2, h3, h4, h5, h6 {
            padding: 0;
            margin: 0;
            display: inline-block;
        }
        p {
            margin: 0.25em;
        }
        border-bottom: 2px solid white;
    }
    time {
	font-size: 1.1em;
	margin-top: 0.2em;
	display: block;
    }
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.underlined {
    display: inline-block;
    border-bottom: 2px solid white;
}

nav {
    padding-top: 0.25em;
    font-size: 1em;
    a {
	display: inline-block;
	padding: 0.25em;
    }
    @media (min-width: $bp-med) {
	padding: 0;
	font-size: 1.2em;
	float: right;
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: right;

	a {
	    padding: 0.5em;
	}
    }
}

footer {
    >div {
	padding: 0.25em 0.5em;
	background-color: $main-bg-color;
    }

    .controls {
	>* {
	    margin: 0 0.25em;
	}
    }
}

.image.main {
    width: 100%;
    img {
        width: 100%;
    }
}

img {
    max-width: 100%;
}

.post-list {
    a {
        display: block;
    }
    .title {
        padding: 0;
        margin: 0 0 0.25em 0;
    }
    >div {
	border-collapse: collapse;
	border-top: 1px solid $gray;
	padding: 1em 0.2em;
	&:first-child {
	    border: none;
	}
    }
    .info {
	font-weight: 600;
        font-size: 1em;
        margin: 0.25em 0;
    }
    .summary {
        font-size: 0.9em;
    }
    time {
    }

    @media screen and (min-width: $bp-med) {
        >div {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            .info {
                margin: 0 0.5em 0 0;
            }
            .summary {
                margin: 0 0 0 0.5em;
                flex: 1;
                font-size: 1em;
                text-align: center;
            }
        }
    }
}
